<p id="notice"><%= notice %></p>

<h1>Smoks</h1>

<table>
  <thead>
    <tr>
      <th>Hp</th>
      <th>Mp</th>
      <th>Atk</th>
      <th>Lvl</th>
      <th>Exp</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smoks.each do |smok| %>
      <tr>
        <td><%= smok.hp %></td>
        <td><%= smok.mp %></td>
        <td><%= smok.atk %></td>
        <td><%= smok.lvl %></td>
        <td><%= smok.exp %></td>
        <td><%= smok.user %></td>
        <td><%= link_to 'Show', smok %></td>
        <td><%= link_to 'Edit', edit_smok_path(smok) %></td>
        <td><%= link_to 'Destroy', smok, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smok', new_smok_path %>
